* {
  /* border: 1px solid #f3634d; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* border: 1px solid blue; */
}

.meals {
  max-width: 100vw;
  height: fit-content;
  /* width: 80%; */
  /* margin: auto; */
  animation: meals-appear 2s ease-out forwards;
  position: absolute;
  /* top: 28%; */
  /** important to use "vw" bcause it manage the whole layout*/
  top: 18vw;
  left: 3.5%;
  margin-right: 3.5%;
  padding: 0 0 3rem;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuh2 {
  text-align: center;
  color: #69ff2e;
  font-size: 10rem;
  margin-bottom: 12px;
  transform: translateY(-50px);
}

@media screen and (max-width: 768px) {
  .menuh2 {
    position: absolute;
    left: 40%;
  }

  .meals {
    top: 25vw;
    margin-right: 2%;
  }
}

@media screen and (max-width: 475px) {
 .menuh2 {
    position: absolute;
    left: 25%;
    top: -0.4%;
  }

  .meals {
    top: 50vw;
    margin-left: 1%;
    width: 90%;
  }
}

@media screen and (max-width:375px) {
  .menuh2 {
    position: absolute;
    left: 18%;
    top: 0.1%;
    font-size: 70px;
  }
}

@media screen and (max-width:320px) {
  .menuh2 {
    position: absolute;
    left: 18%;
    top: 0.5%;
    font-size: 70px;
  }
}