@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Kalam:wght@400;700&family=Permanent+Marker&family=Satisfy&display=swap");

.actions {
  text-align: right;
  /* padding-top: 5rem; */
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #249502;
  padding: 1.5rem 2rem;
  border-radius: 25px;
  width: 10rem;
}

.actions button:hover,
.actions button:active {
  background-color: #1d7901;
  border-color: #4bbd27;
  color: white;
}

.actions .button--alt {
  color: #4bbd27;
  padding: 5px 15px;
}

.actions .button {
  background-color: #4bbd27;
  color: white;
}

#main {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-icon {
  text-align: center;
}

.section {
  display: flex;
}

.p {
  font-family: Satisfy, sans-serif;
  margin-left: 2rem;
  line-height: 3.5rem;
}
