.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #249502;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #1d7901;
  border-color: #4bbd27;
  color: white;
}

.actions .button--alt {
  color: #4bbd27;
}

.actions .button {
  background-color: #4bbd27;
  color: white;
}
