@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

* html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}

body {
  position: relative;
}

.food-details {
  color: #fff;
  font-family: Philosopher, "Gill Sans", "Gill Sans MT";
  position: absolute;
  /* border: 1px solid salmon; */
  width: 75%;
  top: 34%;
  left: 12%;
  margin: auto;
}
/* 
.div-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 0 1rem 1rem;
} */

.food-image {
  width: 40rem;
  height: 20rem;
  border-radius: 15%;
}

.global-container {
  display: flex;
  width: 60%;
  float: right;
  position: absolute;
  left: 30%;
  top: 10px;
}

.price {
  font-size: 25px;
  color: #74fa4b;
}

.title {
  display: flex;
  width: 300px;
}

.go-back {
  font: inherit;
  cursor: pointer;
  background-color: #74fa4b;
  border: 1px solid #185705;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  z-index: 1;
  /* position: absolute;
  position: fixed;
  top: 80%;
  right: 19%; */
}

span {
  /* color: #e37210; */
}

.go-back span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  z-index: -1;
  transition: 0.5s;
}

.go-back:hover span {
  width: 100%;
}

.go-back:hover {
  color: #000;
}

.div-mealItemForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  gap: 50%;
  margin-left: 15px;
}
