@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

* html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: #f1f1f1;
}

.food-details {
  color: #fff;
  font-family: Philosopher, "Gill Sans", "Gill Sans MT";
  position: absolute;
  /* border: 1px solid salmon; */
  width: 90%;
  top: 30%;
  left: 3.5%;
  margin: auto;
  color: #ac9e9e;
}

.food-image {
  width: 40rem;
  height: 20rem;
  border-radius: 15%;
}

.global-container {
  display: flex;
  width: 60%;
  /* float: right; */
  position: absolute;
  left: 30.5%;
  top: 10px;
  padding-top: 15px;
}

.price {
  font-size: 25px;
  /* color: #74fa4b; */
  color: #1f7305;
}

.title {
  display: flex;
  width: 300px;
}

.go-back {
  font: inherit;
  cursor: pointer;
  background-color: #ee5945;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  z-index: 1;
  transition: transform 0.3s, box-shadow 0.3s;
}

span {
  /* color: #e37210; */
}

/* .go-back span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  z-index: -1;
  transition: 0.5s;
} */

.go-back:hover span {
  width: 100%;
}

.go-back:hover {
  color: #000;
  box-shadow: 3px 5px 115px #94f7e6;
  transform: translateY(-3px);
}

.div-mealItemForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  gap: 50%;
  margin-left: 15px;
  margin-top: 25px;
}

/* .moredetail {
  width: ;
} */

@media screen and (max-width: 768px) {
  .food-details {
    top: 15%;
  }

  .div-image {
    position: relative;
    top: 0;
    left: 0;
  }

  .food-image {
    /* position: absolute; */
    width: 100%;
    border-radius: 15%;
  }

  .global-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 38.5vh;
    left: 0;
    background-color: white;
    color: #897a7a;
    width: 100%;
    border-radius: 14px;
    padding: 1rem 2rem;
  }

  .favorite {
    position: absolute;
    right: 7%;
    top: 4%;
    margin-bottom: 20px;
  }

  .go-back {
    margin-top: 10px;
  }
}

@media screen and (max-width: 475px) {
  .food-details {
    color: #fff;

    top: 15%;
    min-height: 100vh;
    height: fit-content;
  }

  .global-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 0;
    background-color: white;
    color: #897a7a;
    width: 100%;
    border-radius: 14px;
    padding: 1rem 2rem;
  }

  .go-back {
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  .global-container {
    top: 38%;
  }
}

@media screen and (max-width: 320px) {
  .global-container {
    top: 39%;
  }

  .favorite {
    position: absolute;
    right: 7%;
    top: 2%;
    margin-bottom: 20px;
  }

  .title h1 {
    padding: 0;
    margin: 0;
  }

}
