@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
  color: #fff;
  font-family: Philosopher;
  position: relative;
}

.meal span {
  margin-bottom: 0.75rem;
  color: #fff;
  
  font-size: 1.5rem;
  text-align: center;
}

.description {
  font-style: italic;
}

.price {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #4bbd27;
  font-size: 1.75rem;
}

.price span {
  margin-right: 50px;
  font-size: 1.2rem;
  font-weight : 100;
}

.avatar {
  height: 15rem;
  width: 15rem;
  border-radius: 1.5rem;
}

.single-food {
  /* flex-basis: 48%; */
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 1.5rem;
  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(105, 195, 72, 0.374));
  opacity: 0;
  transition: 1s ease-in;
}

.single-food:hover .overlay {
  opacity: 1;
}

.food-desc {
  width: 80%;
  position: absolute;
  bottom: 0%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}

.food-desc em {
  font-size: 1rem;
  color: #fff;
}

.single-food:hover .food-desc {
  bottom: 30%;
  opacity: 1;
}
