@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Permanent+Marker&family=Satisfy&display=swap");

body {
  overflow: auto;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f1f1f1;
}

.cart-wrapper {
  display: flex;
  overflow: hidden;
  color: #231d1d;
  width: 60%;
  min-height: fit-content;
  position: absolute;
  margin-left: 12%;
  top: 35%;
}

.empty-cart {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: #0e0b0b;
  width: 100%;
}

.emptyplate {
  height: 25rem;
  width: 25rem;
}

.cart-meals {
  display: flex;
  flex-direction: column;
  color: #897a7a;
  font-weight: 100;
  flex: 1;
}

.item-card {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid rgb(17, 227, 17);
  width: fit-content;
  padding: 15px;
}

.text-empty-cart {
  width: 100%;
}

.div2-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5px;
}

.food-image2 {
  width: 15rem;
  height: 15rem;
  border-radius: 50px;
}

.item-details {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-family: Satisfy, sans-serif;
}

.name-and-trash {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title,
.name-and-trash h3 {
  font-size: 22px;
}

.remove-item {
  color: rgb(241, 25, 25);
  border: none;
  background-color: rgba(250, 235, 215, 0.287);
  border-radius: 50px;
  cursor: pointer;
}

.qty,
.delivery-est {
  font-size: 18px;
}

.text-green {
  color: rgb(17, 227, 17);
  font-size: 22px;
}

.price {
  font-size: 22px;
  border-radius: 15px;
  border: 1px solid rgb(17, 227, 17);
  padding: 10px;
  margin: 15px 0 15px 0;
  text-align: center;
  width: 100%;
}

.flex {
  display: flex;
  /* gap: 15px; */
  /* justify-content: space-evenly; */
  width: 50%;
}

.plus,
.minus {
  border: 1px solid rgb(17, 227, 17);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 15px;
}

.order-summary {
  color: #897a7a;
  position: absolute;
  right: 23%;
  top: 3%;
  font-family: Satisfy, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  line-height: 50px;
}

.order-summary2 {
  display: none;
  color: #897a7a;
  font-family: Satisfy, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  line-height: 50px;
  visibility: hidden;
}

.btn {
  background-color: rgb(17, 227, 17);
  padding: 10px 15px;
  border-radius: 15%;
  font-family: "Permanent Marker", "Gill Sans";
  cursor: pointer;
  font-size: 18px;
}

.divbtn {
  justify-self: flex-end;
  margin-top: 40%;
}

@media screen and (max-width: 768px) {
  .cart-wrapper {
    top: 23%;
    width: 90%;
    left: -8%;
    min-height: 100vh;
    margin-bottom: 10%;
  }

  .order-summary2 {
    visibility: visible;
    position: absolute;
    /* top: -50%; */
    left: 0;
    color: #897a7a;
    width: 80%;
    padding-left: 2rem;
    padding-top: 2rem;
    height: 200px;
  }

  .divbtn {
    margin-top: 6%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .order-summary {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .div2-image {
    display: none;
  }

  .cart-wrapper {
    width: 90%;
    left: -8%;
  }
  .empty-cart {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 375px) {
  .cart-wrapper {
    width: 90%;
    left: -8%;
  }
  .empty-cart {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 320px) {
  .cart-wrapper {
    width: 90%;
    left: -8%;
  }

  .empty-cart {
    flex-direction: column;
    gap: 0;
  }
}
