@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Permanent+Marker&family=Satisfy&display=swap");

body {
  overflow: auto;
  width: 100%;
  height: 100vh;
  position: relative;
}

.cart-wrapper {
  display: flex;
  overflow: hidden;
  /* gap: 18%; */
  width: 85%;
  min-height: fit-content;
  position: absolute;
  margin-left: 15%;
}

.empty-cart {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* padding-left: 20%;    */
  width: 100%;
}

.emptyplate {
  height: 25rem;
  width: 25rem;
}

.cart-meals {
  display: flex;
  color: white;
  font-weight: 100;
  flex: 1;
}

.item-card {
  display: flex;
  gap: 5%;
  border-bottom: 1px solid rgb(17, 227, 17);
  padding-bottom: 15px;
}

.text-empty-cart {
  width: 100%;
}

.div2-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  margin: 15px;
}

.food-image2 {
  width: 15rem;
  height: 15rem;
  border-radius: 50px;
}

.item-details {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-family: Satisfy, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.name-and-trash {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title,
.name-and-trash h3 {
  font-size: 22px;
}

.remove-item {
  color: red;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 46%;
  background-color: rgba(250, 235, 215, 0.287);
  border-radius: 50px;
  cursor: pointer;
}

.qty,
.delivery-est {
  font-size: 18px;
}

.text-green {
  color: rgb(17, 227, 17);
  font-size: 22px;
}

.price {
  font-size: 22px;
  border-radius: 15px;
  border: 1px solid rgb(17, 227, 17);
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  text-align: center;
  width: 43%;
}

.flex {
  display: flex;
  /* gap: 15px; */
  justify-content: space-evenly;
  width: 50%;
}

.plus,
.minus {
  border: 1px solid rgb(17, 227, 17);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 15px;
}

.order-summary {
  color: aliceblue;
  position: absolute;
  right: 23%;
  top: 19%;
  font-family: Satisfy, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.btn {
  background-color: rgb(17, 227, 17);
  padding: 10px 15px;
  border-radius: 15%;
  font-family: "Permanent Marker", "Gill Sans";
  cursor: pointer;
  font-size: 18px;
}

.divbtn {
  justify-self: flex-end;
  margin-top: 40%;
}
