@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Kalam:wght@400;700&family=Permanent+Marker&family=Satisfy&display=swap");

/* * {
  border: 1px solid red;
} */

body {
  position: relative;
}

.main-container {
  color: #897a7a;
  min-width: 90%;
  /* background-color: blueviolet; */
  font-family: Philosopher, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: absolute;
  top: 34%;
  left: 14%;
}

.main-containerSignIn {
  padding: 0 1rem 5rem 15%;
  color: aliceblue;
  width: 60%;
  font-family: Philosopher, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: absolute;
  top: 30%;
  left: 18%;
}

.main-containerSignUp {
  padding: 0 1rem 5rem 15%;
  color: aliceblue;
  width: 70%;
  font-family: Philosopher, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: absolute;
  top: 30%;
  left: 18%;
}

.foodorderedtitle,
.Checkouttitle {
  text-align: right;
  font-family: Satisfy, sans-serif;
  padding: 0 1.5rem;
  font-size: 40px;
  margin: auto;
}

.foodorderedtitle {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.meal {
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 1rem 0;
}

.form {
 color: #897a7a;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  border: solid 1px beige;
  justify-content: right;
  align-items: flex-start;
  gap: 5px;
  border: solid 1px rgb(82, 236, 26);
}

.formSignIn {
  color: aliceblue;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  border: solid 1px #4bbd27;
  justify-content: right;
  align-items: flex-start;
  gap: 5px;
  width: 427px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.input {
  font-size: 16px;
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  color: black;
}

.select {
  font-size: 16px;
  width: 170%;
  padding: 12px 10px;
  border-radius: 5px;
  color: black;
}

.selectSignup {
  font-size: 16px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 5px;
  color: black;
}

.bton {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: center;
  font-size: 18px;
  width: 100%;
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4bbd27;
  border-radius: 4px;
  color: white;
}

.btonSignIn {
  /* display: flex;
  flex-direction: column;
  align-items: right; */
  text-align: right;
  font-size: 22px;
  width: 410px;
  /* margin: auto; */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4bbd27;
  border-radius: 4px;
  color: white;
}

.card {
  margin-top: 15px;
  color: #4bbd27;
  margin-bottom: 10px;
}

.checkb {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 10px;
}

.error {
  color: red;
  background-color: aliceblue;
}

.cardNumber {
  margin-right: 10px;
  padding: 5px 10px;
  height: 15px;
}

.link {
  color: blue;
  font-size: 14px;
  padding: 1px 10px;
}

@media screen and (max-width: 768px) {
.main-container {
  top: 25%;
  left: 4%;
  width: 92%;
}
}

@media screen and (max-width: 475px) {
 .main-container {
   top: 20%;
   height: auto;
 }

  .container {
    flex-direction: column;
  }

}

@media screen and (max-width: 375px) {

.Checkouttitle {
  text-align: left;
  word-break: keep-all;
  font-size: 30px;
}

  .select {
    width: 150%;
  }

.PaymentInputsWrapper {
  width: 95%;
}

svg {
  display: none !important;
}
}

@media screen and (max-width: 320px) {


  .select {
    width: 125%;
  }

.PaymentInputsWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}
}