@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Kalam:wght@400;700&family=Permanent+Marker&family=Satisfy&display=swap");

.main-container {
  padding: 0 1rem 5rem 15%;
  color: aliceblue;
  width: 80%;
  /* background-color: blueviolet; */
  font-family: Philosopher, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

h1 {
  text-align: center;
  font-family: Satisfy, Gill;
  padding: 0 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.meal {
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: aliceblue;
}

.form {
  color: aliceblue;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  border: solid 1px beige;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 5px;
}

.input {
  font-size: 16px;
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  color: black;
}

.select {
  font-size: 16px;
  width: 179%;
  padding: 12px 10px;
  border-radius: 5px;
  color: black;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  width: 100%;
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(15, 227, 37);
  border-radius: 4px;
  color: white;
}

.card {
  margin-top: 15px;
  color: lightslategray;
  margin-bottom: 10px;
}

.checkb {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 10px;
}

.error {
  color: red;
}

.cardNumber {
  margin-right: 10px;
}

.btn-login {
  color: blue;
}
