@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Kalam:wght@400;700&family=Permanent+Marker&family=Satisfy&display=swap");

body {
  position: relative;
}

.main-container {
  padding: 0 1rem 5rem 15%;
  color: aliceblue;
  min-width: 90%;
  /* background-color: blueviolet; */
  font-family: Philosopher, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.main-containerSignIn {
  padding: 0 1rem 5rem 15%;
  color: aliceblue;
  width: 60%;
  font-family: Philosopher, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: absolute;
  top: 30%;
  left: 18%;
}

.main-containerSignUp {
  padding: 0 1rem 5rem 15%;
  color: aliceblue;
  width: 70%;
  font-family: Philosopher, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: absolute;
  top: 30%;
  left: 18%;
}

h1 {
  text-align: center;
  font-family: Satisfy, Gill;
  padding: 0 1.5rem;
  font-size: 40px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.meal {
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: aliceblue;
}

.form {
  color: aliceblue;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  border: solid 1px beige;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  border: solid 1px rgb(82, 236, 26);
}

.formSignIn {
  color: aliceblue;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(82, 236, 26);
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  width: 427px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.input {
  font-size: 16px;
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  color: black;
}

.select {
  font-size: 16px;
  width: 179%;
  padding: 12px 10px;
  border-radius: 5px;
  color: black;
}

.selectSignup {
  font-size: 16px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 5px;
  color: black;
}

.bton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  width: 100%;
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(15, 227, 37);
  border-radius: 4px;
  color: white;
}

.btonSignIn {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  font-size: 22px;
  width: 410px;
  /* margin: auto; */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(15, 227, 37);
  border-radius: 4px;
  color: white;
}

.card {
  margin-top: 15px;
  color: rgb(15, 227, 37);
  margin-bottom: 10px;
}

.checkb {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 10px;
}

.error {
  color: red;
  background-color: aliceblue;
}

.cardNumber {
  margin-right: 10px;
}

.link {
  color: blue;
  font-size: 14px;
  padding: 1px 10px;
}
