.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  background-color: #4bbd27;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0 0 0/ 0.5);
  z-index: 10;
}

.main-image {
  width: 100vw;
  height: 20rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  margin-left: 0.85rem;
}

 .header h1 p {
  font-size: 3.5rem;
  font-family: Satisfy, sans-serif;
 }

@media screen and (max-width: 768px) {
 .header h1 p  {
    margin-left: 0;
    font-size: 2.5rem;
  }

  .header {
    padding: 0 3%;
    height: 6rem;
  }

  .main-image {
    height: 17rem;
    margin: 0;
  }
}

@media screen and (max-width: 475px) {
  .header h1 {
    padding: 2rem 0;
    margin-top: 4rem;
  }

  .header h1 p {
    position: relative;
    visibility: hidden;
  }

  .header h1 p:after {
    content: "food  O. App";
    position: absolute;
    visibility: visible;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 375px) {
  .header h1 {
    padding: 5rem 0;
    margin-top: 7rem;
  }
}

@media screen and (max-width: 320px) {
  .header h1 {
    left: 15px;
    margin-top: 4rem;
  }

}
