/*==========================
Sidebar navigation
========================*/
.navbar {
  position: relative;
}

.navbar .toggle {
  position: fixed;
  right: 100px;
  top: 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 40px;
  box-shadow: 0 2px 8px rgba(0 0 0/ 0.5);
}

.menu-nav {
  /* width: 100px; */
 list-style: none;
  position: absolute;
  background: #5bd736;
  left: 0;
  top: 50px;
  padding-left: 0;
  overflow: hidden;
  z-index: 9;
  font-size: 16px;
  transform: translateX(-80px);
  transition: transform ease-in-out 0.2s;
}

.menu-nav.show-menu {
  width: 100%;
  transform: translateX(10px);
}
.menu-nav li a,
.menu-nav li  {
   color: aliceblue;
  display: block;
  padding: .5rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: 0 0 20px 15px;
  }

  .navbar .toggle {
    top: 25px;
    right: 8vw;
  }
}

@media screen and (max-width: 475px) {
 .navbar .toggle {
  right: 20px;
  padding: 1.5rem;
 }
}

@media screen and (max-width: 320px) {
  .navbar .toggle {
    display: none;
  }
}