@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair:wght@300&display=swap");

#error-page {
  font-family: Philosopher, "Tahoma", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 68, 219);
  flex-direction: column;
}

i {
  color: red;
}
