.card {
  padding: 1rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 2px 20px 10px rgba(70, 41, 16, 0.95);

  border-radius: 14px;
  background: url("../../assests/bg2.jpeg");
  background-position: center;
  width: 80%;
  min-height: fit-content;
  height: auto;
}
