.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: black;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
  color: white;
}

.input input {
  width: 8.75rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
